.body   {
    background: #ffffff;
}

div {
    border: 4px solid #ffffff;
    background:#ffffff;
    color: #ffffff;
}
div:hover {
    border: 4px solid #3731312c;
    
}

.pinterest-logo {
    width: 3em;
    height: 3em;
}

